/* This is the original example. You can take all css styles from here. */
$grey: #989898;
$darkblue: #324360;
$cyan: #35c4ce;
$font-family: 'Josefin Sans', sans-serif;
$text-transform: uppercase;


@mixin font-weight($font-weight:400) {
    font-weight: $font-weight;
    color: #111111;
    text-decoration: none;
}

@mixin background($background: #ffffff) {
    background: $background;
}


body {
    font-family: Quando;
    font-size: 15px;
    color: #787878;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin-bottom: 25px;
    line-height: 1.6em;
}
a {
    @include font-weight;
    // font-weight: 400;
    // text-decoration: none;
    // color: #111111;
    transition: .20s;

    &:hover {
    color: $grey;

}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-weight;
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $font-family;
    // font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    // color: #111111;
}
h1 {
    font-size: 37px;
}
h2 {
    font-size: 31px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}


.container {
    width: 94%;
    margin: 0 auto;
}


/* header and main nav */
header {
    font-family: $font-family;

    nav ul {
    display: none;
    }
}

.top-logo {
    width: 200px;
    margin: 20px auto 40px;
}



/* posts */
article {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
.image-part {
    margin-bottom: 10px;
}

.post-title {
    margin-top: 0;

    a {
    color: $darkblue;
    text-transform: $text-transform;
    font-size: 26px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.3em;
    transition: all .3s ease;
    }
    &:hover {
    color: $cyan;
    }
}



/* footer */
footer {
    padding: 30px 0;
    text-align: center;
    @include background($background: #eaf2ff);
    // background: #eaf2ff;
    color: $grey;
}
#footer {
    a {
    color: $grey;
    }
    &:hover {
    color: #111111;
    }
}

.footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
}
.footer-social-links {
    padding: 20px 0;
    line-height: 2em;

    a {
    margin: 0 10px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: $text-transform;
    }

    a span {
    display: none;
    }

}
#footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $grey;
}


@media only screen and (min-width: 650px) {
    .container {
        width: 90%;
    }

    header nav {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        
        ul {
        display: flex;
        }

        li {
        margin: 0 15px;
        position: relative;
        line-height: 24px;
        }

        a {
        font-family: $font-family;
        color: $darkblue;
        letter-spacing: 1px;
        text-transform: $text-transform;
        font-size: 12px;
        font-weight: 900;
        }

        &:hover {
        color: $cyan;
        }

        li.menu-item-has-children > a::after {
        margin-left: 7px;
        font-family: 'Font Awesome 5 Free';
        font-size: 13px;
        color: $darkblue;
        content: '\f078';
        }

    }
    .current-menu-item a {
        border-bottom: 2px solid $darkblue;
    }
    /* sub nav */
    header nav ul {
        ul {
        visibility: hidden;
        opacity: 0;
        display: block;
        position: absolute;
        z-index: 9999;
        left: 0;
        @include background($background: #f0f0f0);
        // background: #f0f0f0;
        transition: all 0.2s ease-out;
        }

        li:hover ul {
        visibility: visible;
        opacity: 1;
        }

        ul li {
        border-top: 1px solid #e9e9e9;
        margin: 0;
        }

        ul a {
        display: block;
        color: #111111;
        min-width: 175px;
        margin: 0;
        padding: 20px 10px;
        line-height: 1.4em;
        letter-spacing: 1px;
        transition: .35s;
        }

        ul a:hover {
        @include background;
        // background: #ffffff;
        color: #000; 
        }

    }



    /* posts */
    article {
        display: flex;
    }
    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;
        
        img {
        transition: transform 3.5s ease-in-out;
        }

        img:hover {
        transform: scale(1.5,1.5);
        }
    }
    .content-part {
        flex: 1;
        padding-left: 50px;
    }



    /* footer */
    .footer-social-links {
        a {
        margin: 0 28px;
        }

        i {
        margin-right: 5px;
        }

        a span {
        display: inline;
        font-size: 11px;
        }
    }
}